<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            About
        </title>
    </head>
    <body>
        <h1>
           Who am I?
        </h1>
        <ul> 
            <li><a href ="/education">Education</a></li>
          <!-- <li><a href ="/interests">Interest</a></li>-->
            <li><a href ="/contact">Contact</a></li>  
        </ul>
        <p>
            I grew up in the Bronx by way of Nigeria and have lived there most of my life. I speak English and Fulani fluently and I am 
            currently learning German. From early childhood, I have been interested in Mathematics, and I studied mathematics in high school and college. 
            I first learned computer science in my junior year of high school and continue to be fascinated by it!
        </p>
        <address>
            <footer>
               <small> all work &copy Fatumata Jalloh 2020, All rights reserved</small>
            </footer>
        </address>
    </body>

</html>