<!DOCTYPE html>
<htmk>
    <head>
        <meta charset ="utf-8">
        <title>
            Contact 
        </title>
        <link rel="stylesheet" href="/contact.css">
    </head>
    <body>
        <header>
            <small>
            <nav>
              <ul id ="Top-nav">
                  <li id="Top-navA"><a href ="/personal">Personal</a></li>
                  <li id="Top-navB"><a href ="/skills">Skills</a></li>
                  <li id="Top-navC"><a href="/projects">Projects</a></li>
                  <li id="Top-navD"><a href ="/resume.pdf">Resume</a></li>
                  <li id="Top-navE"><a href="/contact">Contact</a></li>
              </ul>
            </nav>
        </small>
        </header>
        <h1>
            Contact Information!
        </h1>
        <h2>
            I am always looking forward to connecting and meeting new people! Feel free to reach out!
        </h2>
        <h6>Email me through:
            <address>
                <a href="mailto:fatumatajalloh014@gmail.com"> Fatumatajalloh014@gmail.com</a>
            </address>
        </h6>
        <h6>Connect with me on linkedin:
            <address>
                <a href="https://www.linkedin.com/in/fatumatajalloh">https://www.linkedin.com/in/fatumatajalloh</a>
            </address>
        </h6>
        <h6><!--have a form to contact me on the website, sections include name, email, purpose, question/answers--> </h6>

        <address>
            <footer>
               <small> all work &copy Fatumata Jalloh 2020, All rights reserved</small>
            </footer>
        </address>
    </body>
</htmk>