<!DOCTYPE html>
<htmk>
    <head>
        <meta charset ="utf-8">
        <title>
            Education
        </title>
    </head>
    <body>
        <h1>
            My Education
        </h1>
        <h5>College</h5>
        <p>
            I am currently an Applied Mathematics and Computer Science major at Brandeis University. Outside of class I work as a Phonathon student caller and this past semester, I worked as a Teaching Assistant for an introductory python classes.
            The courses I am currently enrolled in are:
            <ul>Computer Science Courses Taken/enrolled in
                <li>COSI 21A- Data Structures and The Fundamentals of Computing </li>
                <li>COSI 29A- Introduction to Discrete Mathematics</li>
                <li>COSI 12A - Advanced Programming Techniques</li>
                <li>COSI 11A- Programming in Java</li>
            </ul>
            <ul> Mathematics Courses I am currently enrolled in are:
                <li>MATH 36B- Mathematical Statistics(enrolled in)</li>
                <li>MATH 15A - Applied Linear Algebra(enrolled in)</li>
                <li>MATH 16A -Applied Linear Algebra Practicum(enrolled in)</li>
                <li>Math 36A - Probability</li>
                <li>Math 35A -Advanced Calculus and Fouries Series</li>
                <li>MATH 23B- Introduction to Discrete Mathematics</li>
                <li>MATH 20A - Multi-variable Calculus</li>
            </ul>
        </p>
        <h5> High School</h5>
        <p>
            I grew up in the Bronx and went to elementary and middle school there. I went to the high school for Math, Science, and Engineering@CNNY
            for high school.
        </p>
        <address>
            <footer>
               <small> all work &copy Fatumata Jalloh 2020, All rights reserved</small>
            </footer>
        </address>
    </body>
</htmk>