<!DOCTYPE html>
<html>
    <head>
        <title>
            Fatumata
        </title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/bootsrap.css">
      <link rel="stylesheet"  href="/home.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     
      <!-- Bootstrap CSS -->
      <script src="/scroll.js"></script>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/c78baef2a9.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
    </head>
    <body>
      
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#Front" style="color: #008B8B; font-family: grumpy; font-size: 150%;"><b>Fatumata Jalloh</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#Background">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Education">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
     
        
        <div class="container-fluid padding" id="Front">
            <div class="row welcome text-center">
                <div class ="col-12 ">
                    <h1 class="display-2" id="intro">Fatumata Jalloh</h1>
                    <h4 class="lead" id="parA">I am a college student interested in computer science and design! </h4>
                </div>
            </div>
        </div>
          
    <div class="container-fluid padding" id ="Background" style="background-color: #008B8B;">
        <div class="row welcome text-center">
            <div class="col-12 padding">
            <h1 class="display-4" id="me"  >Get to know me!</h1>
            <p class="lead"id="b-par" >
               Born in Nigeria and raised in NYC, 
               I have been lucky enough to be surrounded by a multitude of communities and cultures that enriched my world view.
               I am currently a rising Junior at Brandeis University, studying Applied Mathematics and Computer Science. 
               I speak Fulani at home and I am currently learning German in School. In my free time I like running and yoga! 
            </p>  
            </div>
        </div>
    </div>

<div class ="container-fluid padding" id="Education" >
    <div class="row welcome text-center">
        <div class ="col-12">
            <h1 class="display-4">Some things I do</h1>
        </div>
        <hr>
        <div class ="col-12">
            <p class="lead">Below are some of my programming, design, and video editing capabilities</p>
        </div>
    </div>
</div>

<div class= "container-fluid padding" id="list">
    <div class="row text-center padding">
        <div class="col-sm-6 col-md-3" >
             <!--used for 3 columns might not work-->
             <i class="fab fa-html5"></i>
             <h3>HTML5</h3>
             <p>I've been working with HTML for about one year.</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work col-xs-12 col-xm- col-md-3-->
                <i class="fab fa-css3"></i>
                <h3>CSS</h3>
                <p>I've worked with CSS using basic CSS and Bootstrap as a framework.</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work-->
                <i class="fab fa-java"></i>
                <h3>Java</h3>
                <p>I've worked with Java for four years and was a TA for a Java course (Advanced Programming Techniques).</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work-->
                <i class="fab fa-python"></i>
                <h3>Python</h3>
                <p>I've been working with Python for 2 years and TA for a Python Course(Problem Solving in Python).</p>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6 col-md-3">
             <!--used for 3 columns might not work-->
             <i class="fab fa-unity"></i>
             <h3>MAYA</h3>
             <p>I've been working with Maya for a year and I am currently an instructor for 3D modeling with MAYA at iDTech.</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work-->
                <i class="fas fa-blender"></i>
                <h3>Blender</h3>
                <p>I've been working with Blender and I am currently an instructor for 3D modeling with Blender at iDTech.</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work-->
                <i class="fab fa-adobe"></i>
                <h3>Adobe</h3>
                <p>I've worked with Adobe for about 3 years and I edited a documnetary on tenant rights with Adobe.</p>
        </div>
        <div class="col-sm-6 col-md-3">
                <!--used for 3 columns might not work-->
                <i class="fas fa-video"></i>
                <h3>IMOVIE</h3>
                <p>I've been working with IMOVie for about 3 years and I used it to help edit videos.</p>
        </div>
    </div>
</div>
<div class="container-fluid " id ="Projects"  style="background-color: #008B8B;">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" >Work</h1>
        </div>
      <hr>
      <div class ="col-12">
        <p class="lead">Here are a few projects I've worked on recently</p>
    </div>
    </div>
</div>
<div class="container-fluid padding" style="background-color:#008B8B;">
    <div class ="row padding" id="jobs">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/project1.jpg" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Personal Website</h4>
                    <p class="card-text">This summer I designed my personal website as a way for anyone interested to learn about me. 
                        I used node, HTML, CSS, Bootstrap, and javascript. 
                        My website showcases the different parts of me academic, professional and personal. 
                        This experience helped me develop my web development and web design skills.</p>
                    <a href="#Front" class="btn btn-outline btn-primary">Back to top</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/project2.jpg" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Storytelling Part 1 </h4>
                    <p class="card-text">I spent the summer of 2018 as an intern with the Flatbush Tenant Coalition. 
                        Throughout the summer, I learned about housing justice and the importance of tenant rights. 
                        I worked on outreach and helped with tenant meeting.
                        My summer project was filming and interviewing tenant leaders about tenant rights. </p>
                    <a href="https://www.youtube.com/watch?v=wyDrT2bYMIc" class="btn btn-outline btn-primary">Watch the documentary</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/project1.jpg" width="300" height="300">
                <div class="card-body">
                    <h4 class="card-title">Storytelling Part 2</h4>
                    <p class="card-text">Last summer I worked with other members of the Flatbush Tenant Coalition to work on the second part of the storytelling project.
                        We worked with a youth organization Sesame flyers to create quilts centered around how the youth of the group saw their community.</p>
                    <a href="https://flatbushpower.org" class="btn btn-outline btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class ="container-fluid-padding" id="Contact" style="background-color: #3f3f3f; ">
        <div class="row text-center padding">
            <div class="col-12">
            <h2>Lets connect!</h2>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead"> I am always looking forward to connecting and meeting new people! Feel free to reach out! </p>
            </div>
        </div>
        <div class="row text-center padding">
            <div class="col-md-4">
                <a href="https://www.linkedin.com/in/fatumatajalloh" class="fab fa-linkedin" ><i class=""></i></a>
                <p class="lead">Linkedin</p>
            </div>
            <div class="col-md-4">
                <a href="mailto:fatumatajalloh014@gmail.com" class="fab fa-google" ><i class=""></i></a>
                <p class="lead">Email</p>
            </div>
            <div class="col-md-4">
                <a href="/Resume.pdf" class="fas fa-file" ><i class=""></i></a>
                <p class="lead">Resume</p>
            </div>
        </div>
    </div> 
    <footer style="background-color: #3f3f3f;">
    <div class="container-fluid ">
        <div class="row text-center">
            <div class="col-12">
                <hr class="light">
                <p> all work &copy Fatumata Jalloh 2020, All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
  <!--Below is up and down arrow, incase I decide to add it later
<div id ="arrow"> 
    <a class="previous" id ="goup" href="#"><i class="fas fa-angle-double-up"></i></a>
    <a class="next" id="godown" href="#"><i class="fas fa-angle-double-down"></i></a>
</div>
   -->
 