<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Personal
        </title>
        <link rel="stylesheet" href="/personal.css">
        <script src="https://kit.fontawesome.com/c78baef2a9.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/scroll.js"></script>
    </head>
    <body>
        <header>
            <small>
            <nav>
              <ul id ="Top-nav">
                  <li id="Top-navB"><a href ="/skills">Skills</a></li>
                  <li id="Top-navC"><a href="/projects">Projects</a></li>
                  <li id="Top-navD"><a href ="/resume.pdf">Resume</a></li>
              </ul>
            </nav>
        </small>
        </header>
        <section id ="Background">
            <div>
       <h3 id="b-title">Background</h3>
        <p id="b-par">
           Born in Nigeria and raised in NYC, I have been lucky enough to be surrounded by a multitude of communities and cultures that enriched my world view.
           I speak Fulani at home and I am currently learning German in School. 
        </p>  
    </div>
        </section>
        <section id="Education">
        <h3>
            Education
        </h1>
        <h5>College</h5>
        <p>
            I am currently an Applied Mathematics and Computer Science major at Brandeis University. Outside of class I work as a Phonathon student caller and this past semester, I worked as a Teaching Assistant for an introductory python classes.
            The courses I am currently enrolled in are:
            <ul>Computer Science Courses Taken/enrolled in
                <li>COSI 21A- Data Structures and The Fundamentals of Computing </li>
                <li>COSI 29A- Introduction to Discrete Mathematics</li>
                <li>COSI 12A - Advanced Programming Techniques</li>
                <li>COSI 11A- Programming in Java</li>
            </ul>
            <ul> Mathematics Courses I am currently enrolled in are:
                <li>MATH 36B- Mathematical Statistics(enrolled in)</li>
                <li>MATH 15A - Applied Linear Algebra(enrolled in)</li>
                <li>MATH 16A -Applied Linear Algebra Practicum(enrolled in)</li>
                <li>Math 36A - Probability</li>
                <li>Math 35A -Advanced Calculus and Fouries Series</li>
                <li>MATH 23B- Introduction to Discrete Mathematics</li>
                <li>MATH 20A - Multi-variable Calculus</li>
            </ul>
        </p>
        <h5> High School</h5>
        <p>
            I grew up in the Bronx and went to elementary and middle school there. I went to the high school for Math, Science, and Engineering@CNNY
            for high school.
        </p>
    </section>
    <section>
        <h3 id="interests">
            Here I talk about my hobbies/interests
        </h3>
        <h5> Running</h5>
        <p>
            I have been running pretty much my whole life and I ran cross country in high school. I currently run and plan on conitnuing until 
            I have more to write about it on here!
        </p>
        <p>
            I grew up in the Bronx and went to elementary and middle school there. I went to the high school for Math, Science, and Engineering@CNNY
            for high school.
        </p>
        <h3 id="interests">
            Here I talk about my hobbies/interests
        </h3>
        <h5> Running</h5>
        <p>
            I have been running pretty much my whole life and I ran cross country in high school. I currently run and plan on conitnuing until 
            I have more to write about it on here!
        </p>
        <p>
            I grew up in the Bronx and went to elementary and middle school there. I went to the high school for Math, Science, and Engineering@CNNY
            for high school.
        </p>
        <h3 id="interests">
            Here I talk about my hobbies/interests
        </h3>
        <h5> Running</h5>
        <p>
            I have been running pretty much my whole life and I ran cross country in high school. I currently run and plan on conitnuing until 
            I have more to write about it on here!
        </p>
   
        </section>
        <a class="gotop" href="#"><i class="fas fa-chevron-up"></i></a> 
   
        <address>
            <footer>     
               <small > all work &copy Fatumata Jalloh 2020, All rights reserved</small>
            </footer>
        </address>
   
    </body>

</html>