<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>
          Projects
        </title>
        <link rel="stylesheet" href="/projects.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/scroll.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/c78baef2a9.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <small>
            <nav>
              <ul id ="Top-nav">
                  <li id="Top-navA"><a href ="/">Home</a></li>
                  <li id="Top-navB"><a href ="/skills">Skills</a></li>
                  <li id="Top-navC"><a href="/Work">Work</a></li>
              </ul>
            </nav>
        </small>
        </header>
    <section class ="section" id ="iDTech" >
        <div class = "pics" ><img  src="/public/img/idtech.png " ></img></div>
        <div class ="words">
         <h3 class= "title" id="">iD Tech </h3>
         <h4 class ="Position">Online Private instructor - Jun 2020 - Present</h4>
         <h6 class ="Summary"> I recented started working as an online instructor with iDTech. I teach General Computer Science,
              Java, Python, 3D Printing, 3D modeling with Maya and Blender, Video Editing, and Youtube.
            I am having a great time teaching kids different coding and design objects. 
         </h6>
        </div>
    </section>
    <section class ="section" id ="TAC">
           <div class ="pics"><img id ="deis" src="/public/img/seal.png " ></img></div>
           <div class ="words">
         <h3 class= "title" id="">COSI 12B - Advanced Programming Techniques</h3>
         <h4 class ="Position">Teaching Assistant - January 2020 - May 2020</h4>
         <h6 class ="Summary"> During My Spring 2020 semester, I worked as a teaching assistant 
            for Advanced Programming Techniques. The class was taught in Java and covered creating class,......
            in Java. As a teaching Assistant, I held weekly office hours and I helped grade Programming Assignments
            and Exams.
         </h6>
         </div>
        </section>
         
    <section class ="section" id ="TAB">
        <div class ="pics"><img id ="deis" src="/public/img/seal.png " ></img></div>
        <div class ="words">
         <h3 class= "title" id="">COSI 10A -Problem Solving with Python</h3>
         <h4 class ="Position">Teaching Assistant - August 2019 - December 2019</h4>
         <h6 class ="Summary">During My Fall 2019 semester, I worked as a teaching assistant 
            for Problem solving with Python. The class was an introductory Computer Science class 
            and covered the basics of Python. It covered primitives, functions, classes, if and while loops,
            and went into the basics of creating classes. As a teaching Assistant, I held weekly office hours 
            and I helped grade Programming Assignments and Exams.
           
         </h6>
         </div>
        </section>
    <section class ="section" id ="phone">
        <div class ="pics"><img id ="deis" src="/public/img/seal.png " ></img></div>
        <div class ="words">
         <h3 class= "title" id="">Phonathon</h3>
         <h4 class ="Position">Student Caller - October 2019 - Present</h4>
         <h6 class ="Summary"> I currently work as a Student Caller at Brandeis Phonathon. Throughout the
        semester, I spoke with Alumni and parents and helped fundraise to support Brandeis and its students.
         </h6>
         </div>
        </section>
        <section class ="section" id="FTC">
            <div class ="pics"> <img src="/public/img/ftc.png " ></img></div>
            <div class ="words">
         <h3 class= "title" id="">Flatbush Tenant Coalition</h3>
         <h4 class ="Position">Intern - June 2018 - August 2019</h4>
         <h6 class ="Summary"> For over a year and a half, I worked as an intern for Flatbush Tenant Coalition.
             Flatbush Tenant Coalition is a non profit that works with Tenants to organize for Tenant's rights 
             throughout the Flatbush Area. During My first summer, I worked on a documentary project centered around
             the experiences of Tenant Leaders in Flatbush.
           
         </h6>
         </div>
        </section>
        <div id ="arrow"> 
            <a class="previous" id ="goup" href="#"><i class="fas fa-angle-double-up"></i></a>
            <a class="next" id="godown" href="#"><i class="fas fa-angle-double-down"></i></a>
        </div>
        <address>
            <footer>
           <small> all work &copy Fatumata Jalloh 2020, All rights reserved</small>
        </footer>
        </address>
    </body>
</html>