<!DOCTYPE html>
<htmk>
    <head>
        <meta charset ="utf-8">
        <title>
          Skills
        </title>
        <link rel="stylesheet" href="/skills.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/scroll.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/c78baef2a9.js" crossorigin="anonymous"></script>
   
    </head>
    <body>
        <header>
            <small>
            <nav>
              <ul id ="Top-nav">
                  <li id="Top-navA"><a href ="/">Home</a></li>
                  <li id="Top-navB"><a href ="/skills">Skills</a></li>
                  <li id="Top-navC"><a href="/Work">Work</a></li>
              </ul>
            </nav>
        </small>
        </header>
        <h1>
          <!-- <nav >
                <ul class = "sidenav">
                    <li><a href ="#Web">Web Development</a></li>
                    <li><a href ="#coding">Coding</a></li>
                    <li><a href ="#Model">3D Modeling</a></li>
                    <li><a href ="#edit">Video Editing</a></li>
                </ul>
            </nav>
            --> 
        </h1>
        <div id ="arrow"> 
            <a class="previous" id ="goup" href="#"><i class="fas fa-angle-double-up"></i></a>
            <a class="next" id="godown" href="#"><i class="fas fa-angle-double-down"></i></a>
        </div>
        <section class ="section" id= "Web">
            <h2>Web Development</h2>
            <h5>I have been working on Web Development for about a year. I know how create websites using HTML, CSS, and Javascript! </h5>
            <div class="left"id ="html">
               <img class ="img" src="/public/img/html.png " width="200" height="200"></img>
               <h3 class="title">HTML</h3>
               <h4><em>Intermediate - 1 year</em></h4>
            </div>
            <div class ="right" id ="css" >
                <img class= "img" src="/public/img/CSS.png " width="200" height="200"></img>
                <h3 class="title">CSS</h3>
                <h4><em>Intermediate - 1 year</em></h4>
            </div>  
        </section> 
    <section class ="section" id ="coding">
            <h2 >Coding languages</h2>
            <h5>I started coding in my junior year, when I was introduced to Java, so it has a special place in my heart.
                 Since then, I have coded with both Java and python, and TA'd for computer science courses in both languages!</h5>
        <div class="left" id = "java">
                <img class ="img" src="/public/img/java.png " width="200" height="200"></img>
                <h3 class="title">Java</h3>
                <h4><em>Advanced - 4 years</em></h4>
        </div>
        <div class ="right">
                <img id ="python" src="/public/img/python.png " width="200" height="200"></img>
                <h3>Python</h3>
                <h4><em>Intermediate - 4 years</em></h4>
        </div>
    </section>
    <section class ="section"id="Model">
        <h2 class ="header">3d Modeling</h2>
        <h5>I have been working with 3D modeling for about four years nows. I am comfortable modeling and designing realistice objects and people. 
            I currently teach 3D modeling and 3D printing as an online instructor with iDtech. 
            I enjoy working of different 3D designs on my free time!</h5>
        <div class="left">
            <img id ="maya" src="/public/img/Maya.jpg " width="200" height="200"></img>
            <h3>Autodesk Maya</h3>
            <h4><em>Intermediate - 2 years</em></h4>
        </div>  
        <div class="right">
            <img id ="blender" src="/public/img/blender.png " width="200" height="200"></img>
            <h3>Blender</h3>
            <h4><em>Intermediate - 1 year</em></h4>
        </div>
    </section>
    <section class="section" id="edit">
         <h2 class ="header">Video Editing</h2>
         <h5>I learned video editing about two years ago while filming a documentary as part of my summer internship. 
             Through that process, I was able to learn about filming and video editing! 
             I now teach people how to use the software below as an online instructor.</h5>
        
        <div class ="left">
            <img id ="premiere" src="/public/img/Premiere.png " width="200" height="200"></img>
            <h3>Adobe Premiere Pro</h3>
            <h4><em>Intermediate - 2 years</em></h4>
        </div>
        <div class ="right">
            <img id ="movie" src="/public/img/imovie.jpg " width="200" height="200"></img>
            <h3>IMOVIE</h3>
            <h4><em>Intermediate - 2 years</em></h4>
        </div>
    </section>
        <address>
            <footer>
           <small> all work &copy Fatumata Jalloh 2020, All rights reserved</small>
        </footer>
        </address>
    </body>
</htmk>