<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Work Experience</title>
    </head>
    <body>
        <h1>
            Here is my work experience
        </h1>
        <h4>
            Web Developer - FatumataJalloh.com
        </h4>
        <p>
            I built my personal website using the Django Framework. I used html, python, and css to design the website.
        </p>
        <h4> 
            Teaching Assistant(August 2019 - Dec 2019)
        </h4>
        <p>
            Last semester I worked as a Teaching Assistant for an Introductory Python class. 
            On a weekly basis, I graded Programming Assignments(programs assigned and submitted).
            I led a recitation group of approximately 10 students every week. 
            I also held office hours where I helped students review materials.
            I also helped grade exams.
    
        </p>
        <h4>
            Student Caller - Brandeis University Phonathon 
        </h4>
        <p>
            
        </p>
    </body>
</html>